.App {
  text-align: center;
  background-color: rgb(209, 209, 232);
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.App-main {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  justify-content: center;
}

.MuiCard-root {
  margin: 10px;
  /* border-radius: 20px; */
  /* box-shadow: 0 0 20px black; */
}

.MuiCardActions-spacing {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 30px;
}


