.App {
  text-align: center;
  background-color: #ffe8d6;
  font-family: roboto;
}

.App-header {
  background-color: #cb997e;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.App-main {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  justify-content: center;
}

.MuiCard-root {
  margin: 10px;
}

.MuiCardActions-spacing {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 30px;
}



