.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.App-main {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  justify-content: center;
}

.MuiCard-root {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 10px black;
}

.MuiCardActions-spacing {
  display: flex;
  justify-content: space-between;
}
